html {
    height: 100vh;
}


body {
    /* imaged used from: https://www.pexels.com/photo/snow-coated-rocky-mountains-772803/ */
    background: url(/styles/pexels-tyler-lastovich-772803.jpg) no-repeat center;
    background-size: cover; 
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 10px;
    transition: background-color 0.5s, color 0.5s;
}

#portfolio-container {
    background-color: rgba(224, 244, 244, 0.60);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1),
                -10px -10px 30px rgba(255, 255, 255, 0.9);
    width: 80%;
    max-width: 600px;
    margin-top: 125px;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
}

.project-card {
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1),
                -10px -10px 30px rgba(255, 255, 255, 0.9);
    transition: background-color 0.5s, box-shadow 0.5s;
}

.project-title {
    
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project-description {
    
}

.project-link {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.project-link:hover {
    background-color: #45a049;
}



/* ====================== Dark mode styles ====================== */
body.dark-mode {
    background-color: #0f0f0f;
    
}

#portfolio-container.dark-mode {
    background-color: rgba(15, 15, 15, 0.60);
    color: #ffff;
}

h1.dark-mode {
    color: #ffff;
}

.project-card.dark-mode {
    background-color: #0f0f0f;
    color: #ffff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3),
                -10px -10px 30px rgba(255, 255, 255, 0.5);
}

.project-title.dark-mode {
    color: #ffff;
}

.project-description.dark-mode {
    color: #ffff; 
}

/* ====================== toggle button styling ====================== */
#dark-mode-toggle {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 5px;
    background-color: #202020;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
                -5px -5px 10px rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#dark-mode-toggle:hover {
    background-color: #555;
}

#dark-mode-toggle.dark-mode {
    background-color: #eee;
    color: #333;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
                -5px -5px 10px rgba(255, 255, 255, 0.7);
}


/* ====================== Nav bar styling ====================== */
#navbar {
    background: #0f0f0f;
    display: flex; 
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#navbar a:hover {
    background-color: #555;
}

#navbar a.active {
    background-color: #4CAF50;
}

